@model ForumTriage_Web.ViewModels.Home.QuestionsSearchGetViewModel
<h2>Search for Questions</h2>
<form action="/Home/Questions" method="post" autocomplete="on">
    <div class="form-group">
        <p>Questions from which users?</p>
        @foreach (var user in Model.Users)
        {
            <label class="checkbox-inline">
                <input type="checkbox" name="UserIds" id="@user.StackOverflowUserId" value="@user.StackOverflowUserId"> @user.Name
            </label>
        }
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


