@model ForumTriage_Web.ViewModels.Home.SearchViewModel

<form action="/Home/Search" method="post" autocomplete="on">
    <div class="form-group">
        <p>Tags</p>
        @foreach (var tag in Model.Tags)
        {
            <label class="checkbox-inline" style="min-width: 300px;">
                <input type="checkbox" name="Tags" id="@tag" value="@tag"> @tag
            </label>
        }
    </div>
    <div class="form-group">
        <p>Owners</p>
        @foreach (var owner in Model.Owners)
        {
            <label class="checkbox-inline" style="min-width: 300px;">
                <input type="checkbox" name="Owners" id="@owner" value="@owner"> @owner
            </label>
        }
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


